html {
    position: relative;
    min-height: 100%;
}
.mg-40 {
    margin:40px
}
.mg-l-auto {
    margin-left: auto;
}
.pd-45 {
    padding: 45px;
}
.dp-flex {
    display: flex;
}
.flex-center {
    justify-content: center;
}
.tx-center {
    text-align: center;
}
.search-size {
    width: 250px;
}
.bg-green {
    background-color: rgb(191, 252, 191);
}
.card-img-size {
    width: 300px;
    height: 300px;
}
.newsTitle {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.pd-25 {
    padding: 25px;
}
.hd-size {
    font-size: 20px;
}
.hd-w-bold {
    font-weight: bold;
}
.pd-tp-10 {
    padding-top: 10px;
}
.border-bt {
    border-bottom: 0.25px solid;
    border-color: #DCDCDC;
}
.border-bt-tp {
    border-bottom: 0.25px solid;
    border-top: 0.25px solid;
    border-color: #DCDCDC;
}
.flex-item-center {
    align-items: center;
}